{background-color:#ADD8E6;}
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
p {text-align:center;}
.links {text-align:center;}
a {text-align:center;}
a {color:#00008B;}
a:hover {color:#BEBEBE}
background {color:#ADD8E6;}
