body {background-color:#ADD8E6;}
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
p {text-align:center;}
.link1 {text-align:center;}
a {text-align:center;}
a {color:#000000;}
a:hover {color:#00008B}
a {padding-left:10px;
  padding-right:10px;}
.link2 {text-align:center;}
