body {background-color:#d3d3d3;}
h1 {text-align:center;}
h2 {text-align:center;}
h3 {text-align:center;}
p {text-align:center;}
.link1 {text-align:center;
  margin-top:10px;}
a {text-align:center;}
a {color:#5a5a5a;}
a:hover {color:#5a5a5a}
a {padding-left:10px;
  padding-right:10px;}
.link2 {text-align:center;}
.title {text-align:center;
font-family: cursive
font-size:50px;
  background-color:#5a5a5a;
}
.webrcade {text-align:center;
  font-size:25px;
}
.emulatorjs {text-align:center;
}